@import "tailwindcss";

* { box-sizing: border-box; padding: 0; margin: 0; }

body {
  background: #fafafa;
  color: #0a1628;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { opacity: 1; }